@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

.logo {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    font-size: 25pt;
    margin-left: 45px;
}

table {
    margin-left: 30px;
    table-layout: fixed;
}

table tr {
    height: 50px; /* Adjust the height as needed */
}

table img {
    width: 20px;
    height: auto;
}

td, th {
    padding-bottom: 2px;
    padding-left: 15px;
}

th {
    font-size: 15pt;
    text-align: left;
}
    
input[type=checkbox] {
    line-height: normal;
    width: 25px;
    height: 25px;
    margin: 4px 0 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.image-container {
    display: flex;
    margin: 20px; /* Adjust as needed */
    justify-content: space-between;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper:nth-child(1) {
    flex: 3;
}

.image-wrapper:nth-child(2) {
    flex: 2;
}

.image-wrapper {
    margin: 30px; /* Adjust as needed */
}

@media (max-width: 1000px) {
    .grid-container {
        display: block;
    }
    
    /* Increase font size and width */
    .grid-container * {
        font-size: 25pt;
        width: 80%;
    }
    
    /* Increase image size */
    .grid-container img {
        width: 40px;
        height: auto;
    }
    input[type=checkbox] {
        line-height: normal;
        width: 50px;
        height: 50px;
        margin: 4px 0 0;
    }
    td, th {
        padding-bottom: 10px;
        padding-left: 100px;
    }
} 
