<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SkiLog: Bear Valley</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="/static/icon.png">  
</head>
<body class="full-bg">
    <img src="/static/logo.png" alt="SkiLog: Bear Valley - logo" class="logo">
    <br/>
    <div class="center-bt">
        <a href="/login"><button class="g-button">Login</button></a>
        <a href="/register"><button class="g-button">Register</button></a>
    </div>
    

    <div class="about-grid-container">
        <div class="about-grid-item about-text-box">
            <p>SkiLog: Bear Valley is a tool to keep track of all the runs you have done at Bear Valley 
                and hopefully know when you have done them all. It shows percentages and saves the data through
                an account system. You data is fully protected and you do not need to provide an email adress or 
                any other personal information. </p>
        </div>
        <div class="about-grid-item about-image-box">
            <img src="/static/bg.jpg" alt="Image 1">
        </div>
        <div class="about-grid-item about-image-box">
            <img src="/static/scshot.png" alt="product screen shot">
        </div>
        <div class="about-grid-item about-text-box">
            <h3>Features</h2>
            <ul>
                <li>Account System</li>
                <li>Frontside, Backside, village, and lower mountain runs</li>
                <li>Run difficulty</li>
                <li>Run completion</li>
                <li>Percentage completion</li>
                <li>Responsive design</li>
        </div>
    
    </div>
    <footer>
        <br/>This is an unofficial tool and is for personal use only. 
        <br/> © 2024 Max Liebermann. All Rights Reserved.</p>
    </footer>
</body>
</html>
