<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SkiLog: Bear Valley</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="/static/icon.png">  
</head>
<body>
    <img src="/static/logo.png" alt="SkiLog: Bear Valley - logo" class="logo">
    
    <br/>
    
    <h2 class="center">Login</h2>
    <form class="acc-form">
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="acc-form-tbox"><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="acc-form-tbox"><br/>
        <input type="submit" value="Login" class="button">
    </form>

    <footer>
        <br/>This is an unofficial tool and is for personal use only. 
        <br/> © 2024 Max Liebermann. All Rights Reserved.</p>
    </footer>
</body>
</html>
